doctype html
mixin barlink(name, active)
  li(class=active ? 'active' : "")
    a(href="javascript:;")= name
mixin panel2item(i, name, ...items)
  .item
    i(class="i-"+i)
    h4= name
    each item in items
      p= item
mixin panel1item(i, name, txt)
  .item(class='item-'+i)
    h4.h4= name
    p.em= txt
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/mytemp/p0.0.1/main.css')
  bodyz
    .header
      .top-bar
        .container.clearfix
          ul.bar-box.clearfix
            +barlink('首页', 1)
            +barlink('服务系统')
            +barlink('行业案例')
            +barlink('商学院')
            +barlink('关于我们')
            +barlink('免费诊断')
      .banner
    .content
      .panel-1
        .container
          h3.h3 互联网营销，您是否遇到这样的困惑点
          .box
            i.icon_1
            +panel1item('1', '做了网站，却没有带来品牌效应？', '----您的网站真的合格吗？')
            +panel1item('2', '做了网站，却没有带来品牌效应？', '----您的网站真的合格吗？')
            +panel1item('3', '选择互联网平台的时候感觉很盲目？', '----什么平台才是合适的？')
            +panel1item('4', '做了很多互联网营销尝试，却没转化？', '----是不是方式和渠道不对呢？')
      .panel-2
        .container
          h3.h3 互联网营销服务系统
          p.blod 让您的潜在客户主动找到您
          .box.clearfix
            +panel2item('1', '网站建设', '网站策划', '网站设计与搭建', '域名备案', '更新维护')
            +panel2item('2', 'SEO优化', '网站诊断', '网站结构优化', '网站排名优化', '品牌关键词优化')
            +panel2item('3', '搜索引擎覆盖', '品牌信息覆盖', '百科营销', '搜索问答营销', '内容策划')
            +panel2item('4', '自媒体推广', '平台策划', '营销内容策划与推送', '平台维护', '粉丝管理')
            +panel2item('5', '社群推广', '平台策划', '推广策划', '营销内容策划与推送', '数据维护')
            +panel2item('6', 'b2b平台营销', '平台策划', '推广策划', '营销内容策划与推送', '数据维护')
      .panel-3
      .panel-4
        .container
          h3.h3 互联网营销优势
          .box 
      .panel-5
        .container
          h3.h3 服务流程
          .box
    .foot
      .container
        .contact-box.clearfix
          p.addr 地址：xxxxxxxxxxxxxxxxxxx
          p.mobile 服务热线：xxx-xxxx-xxx
          p.qq 投诉客户QQ：xxxxxxxxxxxx
        .bottom-bar
          ul.bar-box.clearfix
            +barlink('首页')
            +barlink('服务系统')
            +barlink('行业案例')
            +barlink('商学院')
            +barlink('关于我们')
            +barlink('免费诊断')
        .copyright
          p 版权所有xxxxxxx
          p 滇ICP备xxxxxxx号-x
    script(src='/lib/jquery/jquery.min.js')
    script(src="/mytemp/p0.0.1/main.js")